<style>
/* Desktop पर Facebook Page hide */
.facebook-page-wrapper {
    display: none;
}

/* केवल Mobile पर show */
@media (max-width: 767px) {
    .facebook-page-wrapper {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .facebook-page-wrapper .fb-page,
    .facebook-page-wrapper .fb-page span,
    .facebook-page-wrapper .fb-page iframe {
        max-width: 100% !important;
        width: 100% !important;
    }
}
</style>

<div class="facebook-page-wrapper">
    <div class="fb-page"
         data-href="https://www.facebook.com/yojnaportal"
         data-tabs="timeline"
         data-width=""
         data-height="600"
         data-small-header="false"
         data-adapt-container-width="true"
         data-hide-cover="false"
         data-show-facepile="true">
    </div>
</div>

<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/hi_IN/sdk.js#xfbml=1&version=v23.0">
</script>