<header>
    <div class="logo">
       <a href="/"> <source srcset="/logo/logo.webp" type="image/webp">
        <div style="display: flex; align-items: center; gap: 10px;">
          <img  src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}" style="width: 80px; height: auto;" loading="lazy" />
          <div>
              <div style="font-size: 32px; font-weight: bold; background: linear-gradient(to right, #d32f2f, #ff9800); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
               YOJNA PORTAL
              </div>
              <div style="font-size: 16px; color: #d32f2f; font-weight: bold;">
                 www.YojnaPortal.com
              </div>
          </div>
      </div>
</a></div>

     <!-- ☰ Button for Mobile -->
     <button id="openSidebar">🔍</button>
   </header>