
<div class="main-sidebar">
    
    <div class="sidebar-section">
   
  
        <div class="facebook-page-wrapper">
    <div class="fb-page"
         data-href="https://www.facebook.com/yojnaportal"
         data-tabs="timeline"
         data-width=""
         data-height="600"
         data-small-header="false"
         data-adapt-container-width="true"
         data-hide-cover="false"
         data-show-facepile="true">
    </div>


<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/hi_IN/sdk.js#xfbml=1&version=v23.0">
</script>

<style>
.facebook-page-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.facebook-page-wrapper .fb-page,
.facebook-page-wrapper .fb-page span,
.facebook-page-wrapper .fb-page iframe {
    max-width: 100% !important;
}
</style>

         </div> </div>
<div class="sidebar-section">
<h3>Latest Schemes Update</h3>
    <ul class="card-list">

    {{ range first 5 (where .Site.RegularPages ".Params.post-type" "schemes") }}
    {{ $lastdate := .Params.lastdate | default "9999-12-31" }} 
    {{ if ge $lastdate (now.Format "2006-01-02") }}
        <li class="card-item">
            <a class="card-title" href="{{ .RelPermalink }}" target="_blank">{{ .Title }}</a>
            <div class="card-tags">
        {{ if eq .Params.extended "yes" }}<a href="/extended/">📌 Extended</a>{{ end }}
        {{ if eq .Params.pdfForm "yes" }}<a href="/pdf-forms/">📄 PDF Form</a>{{ end }}
      </div>

      <div class="card-date">📅 {{ .Date.Format "02 Jan 2006" }}</div>
        </li>
       
    {{ end }}
{{ end }}
<hr>
      <p > <a  class="card-title" href="/latest-schemes/"  target="_blank"> <div style="text-align:right;"> More >> </div></a></p>
  


</div>
<div  class="sidebar-section">

 <h3>Latest Jobs Update</h3>
    <ul class="card-list">
    {{ range first 5 (where .Site.RegularPages ".Params.post-type" "latest-jobs") }}
    {{ $lastdate := .Params.lastdate | default "9999-12-31" }} 
    {{ if ge $lastdate (now.Format "2006-01-02") }}
        <li class="card-item">
            <a class="card-title"  href="{{ .RelPermalink }}" >{{ .Title }}</a>
           <div class="card-tags">
        {{ if eq .Params.extended "yes" }}<a href="/extended/">📌 Extended</a>{{ end }}
        {{ if eq .Params.pdfForm "yes" }}<a href="/pdf-forms/">📄 PDF Form</a>{{ end }}
      </div>

      <div class="card-date">📅 {{ .Date.Format "02 Jan 2006" }}</div>
        </li>

    {{ end }}
{{ end }}
<hr>
<p > <a  class="card-title" href="/latest-jobs/"  target="_blank"> <div style="text-align:right;"> More >> </div></a></p>
</details>

</div>
</div>
