
 <div class="header-container">
      <div class="header-content">
        
        <div class="main-logo">
        <img class="logo-img" src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}"  loading="lazy" /><a href="/" class="logo"><img style="width:150px;" src="/svg/yojnaportal.svg"  alt="{{ .Site.Title }}"  loading="lazy" ></a>
      </div>
      
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
         <ul class="nav-menu">
             <div class="mobile-search"> {{ partial "main-part/click-search" . }}</div>
              <li class="active"><a href="/"> <i class="fa fa -home"></i>Home</a></li>
              <li><a href="/pdf-forms/">Forms</a></li>
              <li><a href="/baner-poster-update/">Poster</a></li>
              <li><a href="/quick/last-date/">LastDate</a></li>
              <li><a href="/imp-links/">Useful</a></li>
              <li><a href="/latest-update/">Latest</a></li>
              <li><a href="/latest-schemes/">Schemes</a></li>
              <li><a href="/latest-jobs/">Jobs</a></li>
              <li><a href="/menu/" class="btn-primary">Menu</a></li>
          </ul>
      </div>
  </div>
