    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }
        .container {
        
            margin:  auto;

            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #0056b3;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
      
      #Message-container {
              margin:auto;
              max-width:500px; }
        .search-container {
            max-width: 400px;
            margin: auto;
            background:#e9f7fe;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 1px solid #b3d7f5;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
       textarea, input {
            width: 95%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        .submit-button {
            background-color: #0056b3;
          
            color: #fff;
            padding: 10px 80px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
         #WhatsApp { background:#25d366 ; color: #fff;
                 padding: 10px 80px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
         }
        #WhatsApp:hover { background: #1ebd5a; }
        .submit-button:hover {
            background-color: #003f8a;
        }
        .preview-container {
            margin:auto;
             max-width: 400px;
            margin-top: 20px;
            padding: 20px;
            background: #e9f7fe;
            border: 1px solid #b3d7f5;
            border-radius: 5px;
        }
        .message {
            margin: auto;
            text-align: center;
        }
        #reload {
             
            margin-left: 45%;
            text-align: center; 
            background-color: #b3d7f5; 
            color:#000;
            padding: 3px 20px;
        }