<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="\css\main\homelist.css">

</head>
<body>

<div class="grid-container">
  <!-- First Row -->
  <div class="card">
    <div class="card-header">Schemes</div>
    <div class="card-content">
      {{ partial "homelist/schemes.html" . }}
    </div>
    <div class="card-footer">
      <a href="/latest-schemes/" class="more-link" target="_blank">more</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Latest Update</div>
    <div class="card-content">
      {{ partial "homelist/latest-update.html" . }}
    </div>
    <div class="card-footer">
      <a href="/latest-update/" class="more-link" target="_blank">more</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Education</div>
    <div class="card-content">
      {{ partial "homelist/students.html" . }}
    </div>
    <div class="card-footer">
      <a href="/student-help/" class="more-link" target="_blank">more</a>
    </div>
  </div>

  <!-- Second Row -->
  <div class="card">
    <div class="card-header">Results</div>
    <div class="card-content">
      {{ partial "homelist/results.html" . }}
    </div>
    <div class="card-footer">
      <a href="/results/" class="more-link" target="_blank">more</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Admit Card</div>
    <div class="card-content">
      {{ partial "homelist/admitcard.html" . }}
    </div>
    <div class="card-footer">
      <a href="/admitcard/" class="more-link" target="_blank">more</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Latest Job</div>
    <div class="card-content">
      {{ partial "homelist/latest-jobs.html" . }}
    </div>
    <div class="card-footer">
      <a href="/latest-jobs/" class="more-link" target="_blank">more</a>
    </div>
  </div>
<!-- 3rd Row -->
<div class="card">
  <div class="card-header"> Upcoming </div>
  <div class="card-content">
    {{ partial "homelist/upcoming.html" . }}
  </div>
  <div class="card-footer">
    <a href="/upcoming/" class="more-link" target="_blank">more</a>
  </div>
</div>

<div class="card">
  <div class="card-header"> Certificates </div>
  <div class="card-content">
    {{ partial "homelist/certificate.html" . }}
  </div>
  <div class="card-footer">
    <a href="/certificate/" class="more-link" target="_blank">more</a>
  </div>
</div>

<div class="card">
  <div class="card-header">Quick Links</div>
  <div class="card-content">
    {{ partial "homelist/important.html" . }}
  </div>
  <div class="card-footer">
    <a href="/imp-links/" class="more-link" target="_blank">more</a>
  </div>
</div>

<!-- third Row -->

</div>

</body>
</html>
