{{ $today := now.Format "2006-01-02" }}
{{ $latestJobs := where .Site.RegularPages "Params.post-type" "eq" "latest-jobs" }}
{{ $filteredPages := where $latestJobs "Params.lastdate" "ge" $today }}

{{ if $filteredPages }}
  {{ range $filteredPages }}
    <li >
      <a href="{{ .RelPermalink }}" target="_blank" {{ with .Params.highlights }}style="background-color:{{ . }};"{{ end }} >
        {{ if .Params.pdfName }}
          {{ .Params.pdfName }}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </a>
      {{ partial "main-part/list-comment" . }}
    </li>
    <hr>
  {{ end }}
{{ else }}
  <a href="/latest-update/" style="text-align: center;" target="_blank" >
    No upcoming posts or updates here. If available, they will be updated soon. Go to Latest Update
  </a>
{{ end }}
