<div class="post-grid">
  {{ $colors := slice "#f8dbb4" "#e9c3f8" "#fbfcc4" "#befccc" "#f8bcb4" "#bec9fc" "#b4f0f8" "#b4f8d3" "#f8b4de" }}
  {{ $today := now.Format "2006-01-02" }}
  {{ $filteredPages := where  .Site.RegularPages  ".Params.activedate" "ge" $today }}
  {{ range $index, $element := first 12 $filteredPages }}
    {{ $colorIndex := mod $index (len $colors) }}
    {{ $randColor := index $colors $colorIndex }}
    <a href="{{ $element.Permalink }}" class="post-link">
      <div class="post" style="background-color: {{ $randColor }};">
        {{ with $element.Params.RecommendName }}
          {{ . }}
        {{ else }}
          {{ $element.Title }}
        {{ end }}
      </div>
    </a>
  {{ end }}
</div>

    
    