<div class="post-grid">
  {{ $colors := slice "#f8dbb4" "#e9c3f8" "#fbfcc4" "#befccc" "#f8bcb4" "#bec9fc" "#b4f0f8" "#b4f8d3" "#f8b4de" "#ffa4ff" }}
  {{ $today := now.Format "2006-01-02" }}
  {{ $filteredPages := where .Site.RegularPages ".Params.activedate" "ge" $today }}
  {{ range $index, $element := first 12 $filteredPages }}
    {{ $colorIndex := mod $index (len $colors) }}
    {{ $randColor := index $colors $colorIndex }}
    <a href="{{ $element.Permalink }}" class="post-link" style="position: relative;">
      <div class="post" style="background-color: {{ $randColor }}; padding: 10px; position: relative;">
      

{{ if eq (.Date.Format "2006-01-02") (now.Format "2006-01-02") }}
    <img src="/gif/new.gif" alt="New" class="new-icon"  />
{{ end }}

       
     
        {{ with $element.Params.RecommendName }}
          {{ . }}
        {{ else }}
          {{ $element.Title }}
        {{ end }}
      </div>
    </a>
  {{ end }}
</div>

    
    