{{ range first 10 (where .Site.RegularPages ".Params.pdfForm" "yes") }}
  <li>
    {{ if .Params.pdfName }}
      <a href="{{ .RelPermalink }}" target="_blank">{{ .Params.pdfName }}</a>
    {{ else }}
      <a href="{{ .RelPermalink }}" target="_blank">{{ .Title }}</a>
    {{ end }}

    {{ if eq .Params.pdfForm "yes" }}
      • <a href="/pdf-forms/" target="_blank">pdf</a>
    {{ end }}
{{ if eq (.Date.Format "2006-01-02") (now.Format "2006-01-02") }}
    <a href="{{ .RelPermalink }}" target="_blank"><img src="/gif/new.gif" alt="New" style="width: 40px; vertical-align: middle;" /></a> 
{{ end }}
  </li>
  <hr>
{{ end }}
