

<head>
  <style>
    
    
    
    table.gsc-search-box td, .gsc-clear-button {display:none;}
  </style></head>
  <script>
    document.querySelectorAll('.dynamic-link').forEach(link => {
      link.addEventListener('click', function(event) {
        event.preventDefault(); 
        const queryParam = this.getAttribute('data-search');
  
        const newUrl = `?gsc.q=${encodeURIComponent(queryParam)}`;
    
        window.history.pushState({}, '', newUrl);
    
        document.querySelector("input.gsc-input").value = queryParam;
        document.querySelector("button.gsc-search-button").click();
      });
    });
    </script>
      
  