
  <!doctype html>
<html lang="{{ .Params.lang | default .Site.Language.Lang }}">
<head>.
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ partial "imp-codes/seo-meta.html" . }}
{{ partial "imp-codes/schema.html" . }}
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'self' https://kit.fontawesome.com https://www.gstatic.com 'unsafe-inline';
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
  font-src 'self' https://fonts.gstatic.com;
  connect-src 'self' https://*.firebaseio.com;
  img-src 'self' data: https:;
">
{{ if eq .Params.adsense true }}
<!-- Adsense Script -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4855323063398382"
     crossorigin="anonymo us"></script>
{{ end }}
{{ with .Params.cssStyles }}
  {{ range . }}
    {{ $css := resources.Get . | resources.Minify | resources.Fingerprint }}
    <link rel="preload" as="style" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}"></noscript>
  {{ end }}
{{ end }}
{{ partial "style/yp-base-main" . }}
{{ partial "style/right-sidebar" . }}
{{ if .Params.cssStyle }}
<link rel="preload" as="style" href="{{ .Params.cssStyle | relURL }}" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ .Params.cssStyle | relURL }}"></noscript>
{{ end }}
<script defer src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/9.6.7/firebase-analytics.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GWSRPE5DVE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GWSRPE5DVE', { 'anonymize_ip': true });
    </script>
</head>

 