<head>
    <link rel="stylesheet" href=" \css\navbar.css">
    <script src="\js\navbar.js"></script>
    <style> </style>
</head>
<body>
    <div class="menu-container">
        <button class="scroll-button scroll-left" aria-label="Scroll left">&#10094;</button>
        <div class="scroll-menu" id="scrollMenu">
           
 <a href="/" class="menu-item active"> <i class="fas fa-home"> </i> Home</a>
 
 <a href="/search/" class="menu-item" > <i class="fas fa-search"> </i> Search </a>
 <a href="/menu/" class="menu-item"> <i class="fas fa-menu"></i> Menu</a>
 <a href="https://www.yojnaportal.com/latest-update/" class="menu-item"> Latest Update</a>
           
            <a href="/update/" class="menu-item" >Update</a>
            <a href="/quick/last-date/" class="menu-item">Last Dates</a>
            <a href="/quick/exam-date/" class="menu-item" >Exam Date</a>
            <a href="/latest-schemes/" class="menu-item">Latest Schemes</a>
            <a href="/upcoming/" class="menu-item">Upcoming</a>
            
            <a href="https://www.v2kcomputers.com/p/pdf-formsjn.html" class="menu-item">PDF Form</a>
            <a href="https://tools.v2kcomputers.com/" class="menu-item">Advance Tools</a>
            <a href="/admitcard/" class="menu-item">Admit Card</a>
            <a href="/results/" class="menu-item">Results</a>
            <span  style="font-size:20px;color:white;cursor:pointer" onclick="openNav()"><i class="fas fa-search"></i> Search</span>
            <a href="https://www.yojnaportal.com/menu/" class="menu-item"> &#9776; Menu</a>
           
        </div>
        <button class="scroll-button scroll-right" aria-label="Scroll right">&#10095;</button>
    </div>


</body>

