<head>
    <style> </style>
</head>
<body>
    <div class="menu-container">
        <button class="scroll-button scroll-left" aria-label="Scroll left">&#10094;</button>
        <div class="scroll-menu" id="scrollMenu">
           
 <a href="/" class="menu-item active"> <i class="fas fa-home"> </i> Home</a>
 
 <a href="/search/" class="menu-item" > <i class="fas fa-search"> </i> Search </a>
 <a href="/quick/last-date/" class="menu-item" target="_blank">📅Last Date</a>
 <a href="/quick/exam-date/" class="menu-item" target="_blank" ><i class="fas fa-time"> </i>Exam Dates</a>
 <a href="/upcoming/" class="menu-item" target="_blank"> ↗️Upcoming</a>
 <a href="/pdf-forms/" class="menu-item" target="_blank" ><i class="fas fa-print"> </i>PDF FORM</a>
 <a href="/imp-links/" class="menu-item" target="_blank"> <i class="fas fa-link"> </i>Useful Links</a>
 <a href="/certificate/" class="menu-item" target="_blank"> 📃Certificate</a>
 <a href="/student-help/" class="menu-item" target="_blank"> 🎓Education</a>
 <a href="https://www.yojnaportal.com/latest-update/" class="menu-item"> Latest Update</a>
           
            <a href="/update/" class="menu-item" >Update</a>

            
            <a href="/latest-schemes/" class="menu-item">Latest Schemes</a>
            
            
            <a href="https://www.v2kcomputers.com/p/pdf-formsjn.html" class="menu-item">PDF Form</a>
            <a href="https://tools.v2kcomputers.com/" class="menu-item">Advance Tools</a>
            <a href="/admitcard/" class="menu-item">Admit Card</a>
            <a href="/results/" class="menu-item">Results</a>
            <span  style="font-size:20px;color:white;cursor:pointer" onclick="openNav()"><i class="fas fa-search"></i> Search</span>
            <a href="https://www.yojnaportal.com/menu/" class="menu-item"> &#9776; Menu</a>
           
        </div>
        <button class="scroll-button scroll-right" aria-label="Scroll right">&#10095;</button>
    </div>
</body>

