baseURL = "https://yojnaportal.com/"
languageCode = 'en-us'
title = 'YOJNA PORTAL'
theme = 'my-theme'

# Add taxonomies
[taxonomies]
  category = "categories"
[params]
 
description = "Stay updated with the latest government schemes, Sarkari Yojna news, and policy updates on Yojna Portal."


  
# config.toml

googleAnalytics = "G-GWSRPE5DVE"


[[menu.main]]
  identifier = "home"
  name = "Home"
  url = "/"
  weight = 1
[outputs]
home = ["HTML", "JSON"]


[sitemap]
  filename = "sitemap.xml"
  changefreq = "daily"
  priority = 0.5
  
[caches]
  [caches.assets]
    dir = ":resourceDir/_gen"
    maxAge = "31536000s"  # 365 दिन = 365 * 24 * 60 * 60 सेकंड
