

/* bottomnav.css style start */

.bottom-nav {
    position: fixed;
    bottom: 0;
   
    padding:10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #FF5722;
    color: white;

}
.bottom-nav div a {
    padding: 8px 40px 8px;
    color: white;
    text-decoration: none;
}
.bottom-nav div a:hover,
.bottom-nav div a.active {

    background-color: #f4b400;
}
.content {
    padding: 10px;
    display: none;
}
.content.active {
    display: block;
}
/* bottomnav.css style end */


/* footer style.css started*/

footer {
    bottom: 0;
   position: relative;
        background-color: #1a1a1a;
        color: #ffffff;
        padding: 20px 0;
     width: 100%;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .footer-container {
      
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    @media (max-width: 600px) {

        footer {
            bottom: 20px;
           position: relative;
        }
        
         
        
        
        }
        
        
        @media (max-width: 130px) {
            .bottom-nav {
                display: none;
            }
        
        }