body {
    height: 100%;
    padding: 0;
    margin:0;
    
    
}
  
    .main-container {
        max-width: 1200px;
        min-width: 900px;
        margin: auto;
       /* Center the container and add margin */
        padding: 0px;
         align-items: center;
        justify-content: center;
        word-wrap: break-word !important;
    }
    
    @media (max-width: 768px) {
        .main-container {
          width: 900px;
        }
          
        }
