<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'self' https://pagead2.googlesyndication.com https://www.googletagservices.com https://www.gstatic.com https://www.google-analytics.com https://securepubads.g.doubleclick.net https://kit.fontawesome.com 'unsafe-inline' 'unsafe-eval';
  style-src 'self' https://fonts.googleapis.com 'unsafe-inline';
  font-src https://fonts.gstatic.com;
  img-src 'self' data: https: https://pagead2.googlesyndication.com https://www.google-analytics.com;
  connect-src 'self' https://*.firebaseio.com https://api.overserv.io https://pagead2.googlesyndication.com https://googleads.g.doubleclick.net;
  frame-src 'self' https://www.youtube.com https://maps.google.com https://googleads.g.doubleclick.net https://tpc.googlesyndication.com;
">
