<details open class="sidebar-list" >
    <summary class="summary"> Recommended Post</summary>
    {{ range first 10 (shuffle .Site.RegularPages) }}
    {{ $lastdate := .Params.lastdate | default "9999-12-31" }}
    {{ if ge $lastdate (now.Format "2006-01-02") }}
      <li>
        <a href="{{ .RelPermalink }}" >{{ .Title }}</a>
        {{ if eq .Params.extended "yes" }} • <a href="/extended/">Extended</a>{{ end }}
        {{ if eq .Params.pdfForm "yes" }} • <a href="/pdf-forms/">PDF</a>{{ end }}
      </li>
   
    {{ end }}
  {{ end }}
  <hr>
  <p > <a href="/latest-update/" target="_blank"> <div style="text-align:right;"> More >> </div></a></p>
  </details>