{{ $link := .Params.Videolink }}
{{ if and $link (ne $link "") }}
  <div class="video-container" style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
    <iframe src="https://www.youtube.com/embed/{{ replace (replace $link "https://youtu.be/" "" ) "https://www.youtube.com/watch?v=" "" }}"
            title="YouTube Video - {{ .Title }}"
            frameborder="0"
            allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;">
    </iframe>
  </div>
{{ end }}
