<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js\baseof.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GWSRPE5DVE"></script>
    {{ $noindex_pages := slice "/jobs/" "/scheme/" "/2024/" "/student/" }}
    {{ if in $noindex_pages .RelPermalink }}
        <meta name="robots" content="noindex, follow">
    {{ end }}
    <link rel="stylesheet" href="\css\yp-main.css">
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-GWSRPE5DVE');
    </script>
   
    <style> 
      body {
      background-color: #eee;
      }
  
    </style>
</head> 
<body>
  {{ partial "header" . }} 
  {{ partial "baseof-part/navbar" . }}
    <div class="main-container">
  
  <!-- Include the sidenav partial -->
 
        <!-- Navbar section -->
        
        {{ partial "baseof-part/social-link.html" . }}
        <div id="sidenav-main">
        <!-- Main content block -->
        {{ block "main" . }} {{ end }}
        
      </div> 
      {{ partial "baseof-part/footer" . }}
    </div>
    {{ partial "baseof-part/dynamic-link.html" . }}
       
        
    
        
   
     

      
</body>



     <!-- dynamic-button -->
     <script>
     window.addEventListener('hashchange', function () {
        if (window.location.hash === '#gsc.tab=0') {
      
          history.replaceState(null, null, window.location.pathname + window.location.search);
        }
      });
      window.addEventListener('DOMContentLoaded', function () {
        if (window.location.hash === '#gsc.tab=0') {
          history.replaceState(null, null, window.location.pathname + window.location.search);
        }
      });
    </script>

</html>
