
  <body>
     <!-- head-->
    {{ partial "baseof-part/head" . }}
    
    <!-- left Sidebar Overlay (mobile only) -->
    {{ partial "main-part/left-sidebar" . }}
  
      <!-- Main Content -->
      <main class="yp-main-content">
        {{ block "main" . }} {{ end }}
      </main>
  
      <!-- Right Sidebar (desktop only) -->
      <aside class="yp-main-sidebar">
          {{ partial "baseof-part/sidebar" . }}
      </aside>
    </div>
  
  
  
    <!-- Footer -->
    <footer>
      {{ partial "baseof-part/footer" . }}
    </footer>
  
    <!-- Sidebar Toggle JS -->
    {{ partial "script/left-sidebar" . }}
    
  </body>
 

