


{{ define "main" }}

{{ partial "style/home-grid.html" . }}
<body>
<div id="home" class="list active">

        {{ partial "homelist/list-posts.html" . }}
        <iframe title="home Search" src="/quick/" frameborder="0" marginheight="0" marginwidth="0" height="50px" width="100%" >Loading…</iframe>
        <a href="https://whatsapp.com/channel/0029Vap065XJkK7FkdvfnU3v" target="_blank" 
style="display:inline-block;
background:linear-gradient(90deg,#25D366,#128C7E);
color:white;
padding:14px 26px;
border-radius:50px;
font-size:18px;
font-weight:600;
text-decoration:none;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
transition:all 0.3s ease;">
💬 Join New WhatsApp Channel
</a>
        {{ partial "adsense.html" . }}
        {{ partial "homelist/grid-container.html" . }}
        </div>
</body>
{{ end }}
