{{ define "main" }}

<head>
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://www.yojnaportal.com/">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href=" \css\single-post.css">
  <style>
 </style>
</head>

<body>

  

  <div class="single-post-header">
      <div class="Post-Date"> Post Date / Update: <strong>{{ .Date | time.Format "02-Jan-2006 15:04:05" }}</strong></div> 
      <nav aria-label="breadcrumb" class="breadcrumbNav">
        <div class="breadcrumb">
          <li><a href="{{ "/" | absURL }}">Home</a> >> </li>
          {{ $urlParts := split .RelPermalink "/" }}
          {{ $currentPath := "" }}
          {{ range $index, $part := $urlParts }}
            {{ if and (ne $part "") (ne $index 0) (ne $index (sub (len $urlParts) 2)) }}
              {{ $currentPath = printf "%s/%s" $currentPath $part }}
              <li><a href="{{ $currentPath | relURL }}">{{ replaceRE "-" " " (title $part) }}</a> >> </li>
            {{ end }}
          {{ end }}
          <li>{{ .Title }}</li>
        </div>
      </nav>
     
  </div>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4855323063398382"
     crossorigin="anonymous"></script>
<!-- yp-Square-Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4855323063398382"
     data-ad-slot="1579472297"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <div class="single-post-wrapper">
    <div class="single-post-content">
      {{ .Content }}
    

    <!-- Include partial for tags/terms -->
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
   
  </div>
</div>
        
</body>

{{ end }}
