<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download</title>
    <link rel="stylesheet" href="{{ "css/section/download.css" | relURL }}">  
    <meta name="robots" content="noindex, follow" />

    <style>
      
    </style>
</head>
<body>

<div class="iframe-container">
    <iframe 
        id="iframe" 
        src="" 
        width="100%" 
        height="2000px" 
        style="border:none;">
    </iframe>
</div>

<script src="{{ "js/section/download.js" | relURL }}" defer></script>
<script src="{{ "js/requaired/DZkrLRkldr.js" | relURL }}" defer></script>
</body>
</html>
