<div style="position:relative;">
<span style="position:absolute; top:5px; left:5px; background:#000; color:#fff; font-size:10px; padding:2px 6px; border-radius:4px;">Advertisement</span>
</div>
<div class="lazy-load-ad1 ad-728-wrap" style="min-height: auto;">
 <script async="async" data-cfasync="false" src="https://pl31192128.profitableratecpmnetwork.com/85057906121aa7200d60b87369ef5d03/invoke.js"></script>
<div id="container-85057906121aa7200d60b87369ef5d03"></div>
</div>

<style>
.ad-728-wrap {
    width: 100%;
    max-width: 728px;
    margin: 15px auto;
    overflow: hidden;
}
</style>