<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href=" \css\footer.css">
    <script src="\js\translate.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/g/f9063374b04d/api.js?onload=fjGVd3&render=explicit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en', // डिफॉल्ट भाषा
                includedLanguages: 'en,hi', // जोड़ी गई भाषाएँ
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <style>
      
      
    </style>
</head>

   

    <footer id="footer">
        
        <div class="footer-content">
            <div style="color:#f4b400;">|| Follow us on Social Media ||</div>
            <div class="social-media">
                <a href="https://bit.ly/SarkariJankari" target="_blank" aria-label="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://telegram.me/yojnaportal" target="_blank" aria-label="Telegram">
                    <i class="fab fa-telegram"></i>
                </a>
                <a href="https://youtube.com/@yojnaportal" target="_blank" aria-label="Youtube">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://instagram.com/yojnaportalofficial" target="_blank" aria-label="WhatsApp">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://facebook.com/yojnaportal" target="_blank" aria-label="facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://x.com/yojnaportal" target="_blank" aria-label="WhatsApp">
                    <i class="fab fa-twitter"></i>
                </a>
               
            </div>
            <nav>
                <ul>
                    <li><a href="https://www.yojnaportal.com/">Home</a></li> |
                    <li><a href="/about/">About Us</a></li> |
                    <li><a href="/contact/">Contact Us</a></li> |
                    <li><a href="/privacy-policy/">Privacy Policy</a></li> |
                    <li><a href="/disclaimer/">Disclaimer</a></li>
                </ul>
            </nav>
            <div id="google_translate_element"></div>

           <div id="copyright" style="color:#f7630e"> ©️ All Copyright <a href="https://yojnaportal.com" style="text-decoration:none; color:white;"> www.yojnaportal.com </a> | Yojna Portal </div>
         
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">

            <path fill="#f4b400" fill-opacity="1" d="M0,224L60,240C120,256,240,288,360,288C480,288,600,256,720,224C840,192,960,160,1080,144C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        
          </svg>
    </footer>
  

<script> 
    if (someCondition) {
        // Only load the script if the condition is met
        var script = document.createElement('script');
        script.src = 'https://challenges.cloudflare.com/turnstile/v0/g/f9063374b04d/api.js?onload=fjGVd3&render=explicit';
        document.body.appendChild(script);
      }
      
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</html>