<head>

<link rel="stylesheet" href="css\footer.css">

</head>
<div class="bottom-nav"> 
    <div><a href="/yojnaportalweb/#home" onclick="showCategory('home', this)">Home</a></div>
    <div><a href="/yojnaportalweb/#schemes" onclick="showCategory('schemes', this)">Yojna</a></div>
    <div><a href="/yojnaportalweb/#jobs" onclick="showCategory('jobs', this)">Jobs</a></div>
    <div><a href="/yojnaportalweb/#alert/" onclick="showCategory('alert', this)">Alert</a></div>
    <div><a href="/yojnaportalweb/#more" onclick="showCategory('more', this)">More</a></div>
</div>
<footer id="footer">
    
<div class="footer-content">
   
    
    <div class="social-media">
        <a href="https://telegram.me/yojnaportal"><i class="fab fa-whatsapp"></i></a>
        <a href="https://bit.ly/SarkariJankari"><i class="fab fa-telegram"></i></a>
          

    </div>
</div>

 <a href="https://www.yojnaportal.com" title="Yojna Portal Visits">
        <img src="https://counter8.optistats.ovh/private/freecounterstat.php?c=efdehcwl1gbxxhu1fl8pukejtjynh677" border="0" title="Yojna Portal" alt="Yojna Portal Hits">
    </a>
     <p>&copy; Copyright Yojna Portal, 2024</p>
</footer> 

