
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      "headline": "{{ .Title }}",
      "description": "{{ .Params.description | default "इस योजना की जानकारी प्राप्त करें।" }}",
      "image": "{{ .Params.featuredImage | absURL }}",
      "author": {
        "@type": "Organization",
        "name": "Yojna Portal",
        "url": "https://yojnaportal.com/"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Yojna Portal",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ "logo/logo-100x100.png" | absURL }}"
        }
      },
      "datePublished": "{{ with .Date }}{{ .Format "2006-01-02" }}{{ else }}{{ now.Format "2006-01-02" }}{{ end }}",
      "dateModified": "{{ with .Lastmod }}{{ .Format "2006-01-02" }}{{ else }}{{ now.Format "2006-01-02" }}{{ end }}"
    }
    </script>
    

    