{{ $today := now }}
{{ $yesterday := $today.AddDate 0 0 -1 }}
{{ $startDate := $today.AddDate 0 0 -31 }}

{{ range .Site.RegularPages }}
  {{ if .Params.lastDate }}
    {{ $lastDate := time .Params.lastDate }}
    
    {{ if and (lt $lastDate $yesterday) (gt $lastDate $startDate) }}
      <tr data-shorturl="{{ .Params.shorturl }}" data-seo-title="{{ .Params.seo_title }}">
        <td> <span style="color:red;"> • </span><a href="{{ .Permalink }}">{{ .Title }}</a><br>
          <span>🔕<a href="#" class="dynamic-link" data-search="{{ .Params.category }}">{{ .Params.category }}</a></span>
        </td>
        <td style="color:red; font-weight:600;">{{ $lastDate.Format "02/01/2006" }}</td>
      </tr>
    {{ end }}
  {{ end }}
{{ end }}
