.upsc-link-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
}

.upsc-link-item {
    margin-bottom: 12px;
    padding: 10px 15px;
    border-left: 3px solid #f4b400;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.upsc-link-item:hover {
    background-color: #f4b400;
}

.upsc-link {
    color: #2c3e50;
    text-decoration: none;
    display: block;
    font-weight: 500;
    transition: color 0.3s ease;
}

.upsc-link:hover {
    color: #3498db;
}
.upsc-date {
    font-size: small;
    color: gray;
    margin-left: 0px;
}