<!DOCTYPE html>
<html lang="hi">
<head>
    <meta charset="utf-8">

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="noindex">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ .Params.imageBanner | absURL }}">
    <meta property="og:description" content="{{ .Summary }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:image" content="{{ .Params.imageBanner | absURL }}">
    <meta name="twitter:description" content="{{ .Summary }}">

    <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
</head>

</html>