
<h1>Baner Poster / Gallery</h1>

    <div class="search-container">
        <form method="post" action="" name="search-form" class="search-form">
            <input type="hidden" name="TimeStamp" class="Advance" id="timestamp-field">
            <input type="hidden" name="use-in" class="advnce" value="Baner Search">
            <input 
                type="text" 
                name="Search" 
                id="searchInput" 
                class="search-input"
                placeholder="खोजें... जैसे आय प्रमाण पत्र, बिहार, आदि" 
                autocomplete="off"
            />
            <button type="submit" class="search-button" id="searchButton">Search</button>
        </form>
    </div>

<div id="categoryContainer" style="min-width:600px;"></div>

<!-- Modal -->
<div class="modal" id="imageModal">
  <span class="close" id="closeModal">&times;</span>
  <img id="modalImage" src="" alt="" />
  <div class="modal-buttons">
    <button id="downloadBtn" class="modal-button">📥 Download</button>
    <button id="shareBtn" class="modal-button">📤 Share Now </button>
   <button id="printBtn" class="modal-button">🖨️ Print </button>
   <button id="detailBtn" class="modal-button">🔗Link</button>
  </div>
</div>
  <!-- Google CSE Script -->
    <script async src="https://cse.google.com/cse.js?cx=17c22329bb6c0490a"></script>
   <script>
        document.getElementById('searchButton').addEventListener('click', function() {
            const query = document.getElementById('searchInput').value;
            if (query) {
                updateURL(query);
                search(query);
            }
        });

        function updateURL(query) {
            const hash = `#gsc.tab=0&gsc.sort=&gsc.q=${encodeURIComponent(query)}`;
            window.location.hash = hash;
        }
  function readQuery() {
            const hash = window.location.hash;
            const params = new URLSearchParams(hash.substring(1)); // Remove the '#' character
            const query = params.get('gsc.q');
            if (query) {
                document.getElementById('searchInput').value = query;
                search(query);
            }
        }

        window.onload = readQuery;
    </script>

<script>
  const images = [
    {{- range $i, $img := .Params.images -}}
      {{- if $i }},{{ end -}}
      { icon: "{{ $img.icon }}", link: "{{ $img.link }}", title: "{{ $img.title }}", src: "{{ $img.src }}", category: "{{ $img.category }}" }
    {{- end -}}
  ].reverse();
</script>


   