
{{ $keywords := .Params.keywords }}

<div class="sticky-anchor" >
    {{ range $keywords }}
    <a href="#"  class="dynamic-link" class="keyword-tag" data-search="{{ . | urlize }}">🏷️   
{{ . }} </a>
    {{ end }}
</div>







{{ partial "adsense.html" . }}
<script>
  const container = document.querySelector('.sticky-anchor');
  let scrollStep = 150; // हर बार कितने px scroll हो
  let delay = 2000;     // 2000ms = 2 सेकंड

  setInterval(() => {
    // Check if reached end
    if (container.scrollLeft + container.offsetWidth >= container.scrollWidth) {
      container.scrollLeft = 0; // वापिस शुरुआत पर लाओ
    } else {
      container.scrollLeft += scrollStep;
    }
  }, delay);
</script>
