<style>
    .sticky-anchor {
    position: sticky;
    top: 10px;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #ddd;
    overflow-x: auto;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }

  .sticky-anchor-inner {
    display: flex;
    gap: 8px;
    padding: 10px 16px;
  }

  .sticky-anchor a {
    display: inline-block;
    padding: 24px 20px;
    background-color: #ffffff;
    color: #0369a1;
    border-radius: 5px;
    margin:2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 1px 3px #080000;
    transition: background-color 0.3s ease;
  }

  .sticky-anchor a:hover {
    background-color: #bae6fd;
  }
</style>

{{ $keywords := .Params.keywords }}

<div class="sticky-anchor" >
    {{ range $keywords }}
    <a href="#"  class="dynamic-link" class="keyword-tag" data-search="{{ . | urlize }}">🏷️   
{{ . }} </a>
    {{ end }}
</div>







{{ partial "adsense.html" . }}
<script>
  const container = document.querySelector('.sticky-anchor');
  let scrollStep = 150; // हर बार कितने px scroll हो
  let delay = 2000;     // 2000ms = 2 सेकंड

  setInterval(() => {
    // Check if reached end
    if (container.scrollLeft + container.offsetWidth >= container.scrollWidth) {
      container.scrollLeft = 0; // वापिस शुरुआत पर लाओ
    } else {
      container.scrollLeft += scrollStep;
    }
  }, delay);
</script>
