.bottom-nav {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 78, 57), rgb(255, 115, 68));
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.1rem 0;
    margin: 0;
}  

.bottom-nav ul li {
    text-align: center;
}

.bottom-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    padding: 0.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.bottom-nav ul li a i {
    font-size: 1.2rem;
}

.bottom-nav ul li a:hover,
.bottom-nav ul li a.active {
    background-color: #f4b400;
    color: #333;
}

@media (max-width: 600px) {
.bottom-nav {
display: block;
}
.bottom-nav ul li a {
padding: 0.5rem 1rem;
font-size: 0.8rem;
}
}

@media (max-width: 400px) {
.bottom-nav ul li a {
padding: 0.4rem 0.8rem;
font-size: 0.75rem;
}
}

@media (max-width: 300px) {
.bottom-nav ul li a {
padding: 0.3rem 0.6rem;
font-size: 0.7rem;
}
}

@media (max-width: 250px) {
.bottom-nav {
display: none;
}
}