<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href=" \css\list-table.css">
  <title>Admit Card - Download Latest Admitcard - Yojna Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Latest Admitcard, New Admit Card , Latest Exams, New Admitcard, प्रवेश पत्र, परीक्षा तिथि, .">
</head>
<table class="post-table">
  <thead>
      <tr>
   <th>Download Latest Admitcard</th>

      </tr>
  </thead>
  <tbody> 



      {{ range (where  .Site.RegularPages ".Params.admitcard" "yes") }}
      <tr>
          <td><a href="{{ .RelPermalink }}" target="_blank">{{ .Params.admitcardName }}</a></td>
        
  </tr>
      {{ end }}
  </tbody>
</table>
  </div>
