<!-- layouts/partials/list-update/all-content-list.html -->
<head>
    <script src="/js/search.js"></script>
    <link rel="stylesheet" href=" \css\list-table.css">
  <title> Latest Update</title>
    <style>
    </style>
</head>


<table class="post-table">
    <thead>
        <tr>
            <th>Latest</th>
            <th>Post Date</th>
            <th>Detail</th>
        </tr>
    </thead>
    {{ $paginator := .paginator }}

    {{ range $paginator.Pages }}
    <tr>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td>{{ .Date.Format "02/01/2006" }}</td>
        <td><a href="{{ .RelPermalink }}">Click here</a></td>
    </tr>
    {{ end }}
</table>

<div class="pagination">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">Previous</a>
    {{ end }}

    {{ range $paginator.Pagers }}
    {{ if eq $paginator.PageNumber .PageNumber }}
    <strong>{{ .PageNumber }}</strong>
    {{ else }}
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}

    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">Next</a>
    {{ end }}
</div>
<script>
fetch('/search.json')
  .then(response => response.json())
  .then(data => {
    console.log(data);  // Check if the data is coming correctly
    searchIndex = data;
  })
  .catch(error => {
    console.error("Error loading search index:", error);
  });
</script>
