

<div class="search-container">
    <input type="text" id="searchBar" class="search-bar" onkeyup="searchTable()" placeholder="Search for forms...">
    <button class="close-button" onclick="location.reload();">×</button>

    <select id="categoryFilter" onchange="populateInputAndSearch()">
        {{ $seen := slice }}
        {{ range (where .Site.RegularPages ".Params.post-type" "schemes") }}
          {{ $cat := .Params.category | default "Schemes" }}
          {{ if not (in $seen $cat) }}
            <option value="{{ $cat }}">{{ $cat }}</option>
            {{ $seen = $seen | append $cat }}
          {{ end }}
        {{ end }}
      </select>
</div>

<table class="post-table" id="formsTable">
<thead>
    <tr>
        <th>Post Date</th>
        <th> Download PDF / Form </th>
        <th>Category</th>
       
    </tr>
</thead>
<tbody>
    {{ range  (where .Site.RegularPages ".Params.post-type" "schemes") }}
    <tr>
        <td>{{ .Date.Format "02/01/2006" }}</td>
        <td>
            {{ if .Params.pdfName }}
                <a href="{{ .RelPermalink }}" target="_blank">{{ .Params.pdfName }}</a>
            {{ else }}
                <a href="{{ .RelPermalink }}" target="_blank">{{ .Title }}</a>
            {{ end }}
        </td>
        <td style="background-color:rgb(255, 161, 37);"><a href="#" class="dynamic-link" data-search="{{ with .Params.category }}{{ . }}{{ else }}---{{ end }}"> {{ with .Params.category }}{{ . }}{{ else }}---{{ end }}  </a></td>
       
    </tr>
    {{ end }}
</tbody>
</table>



