{{ with .Params.documents }}
  <table class="yp-table">
    {{ range . }}
      {{ $step1 := replace . ":" "//" }}
      {{ $clean := replace $step1 "ः" "//" }}
      {{ $parts := split $clean "//" }}
      <tr>
        {{ if eq (len $parts) 2 }}
          <td>✓<b>{{ index $parts 0 | safeHTML}}</b></td>
          <td>{{ index $parts 1 | safeHTML}}</td>
        {{ else }}
          <td colspan="2">✓<b>{{ . | safeHTML}}</b></td>
        {{ end }}
      </tr>
    {{ else }}
      <tr>
        <td colspan="2">⚠️ कोई दस्तावेज़ नहीं मिला</td>
      </tr>
    {{ end }}
  </table>
{{ end }}
