{{ with .Params.how_to }}
  <h3>👨‍💻 How to Apply</h3>
  <ul class="steps-container">
    {{ range . }}
  {{ $step1 := replace . ":" "//" }}
  {{ $clean := replace $step1 "ः" "//" }}
  {{ $parts := split $clean "//" }}
      <li class="step-item"><details>
        {{ if eq (len $parts) 2 }}
        <summary> <b>{{ index $parts 0 }}:</b></summary> <p> {{ index $parts 1 }}</p>
        {{ else }}
          {{ . }}
        {{ end }}</details>
      </li>
    {{ end }}
    </ol>
{{ end }}
    <ol >
              
                