{{ partial "imp-codes/breadcrumb.html" . }}
  <div class="yp-job-head">
    <h2 style="margin-top:0;">
      {{ with .Params.seo_title }}{{ . }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}
    </h2>
  
    <p><b>Last Update:</b> {{ .Date | time.Format "02/01/2006 | 03:04 PM" }}</p>
  
    <p><b>Description:</b> 
      <a href="{{ .Params.OfficialSource }}" target="_blank" style="color:#007BFF;">
        {{ .Params.department }}
      </a> has released a <span class="tooltip"> notification  <span class="tooltiptext"> {{ .Params.Notification }}</span></span>  of <b>{{ .Params.recruitment }}</b>. 
      The application process will be open from <b>{{ .Params.begindate | time.Format "02 January" }} to {{ .Params.lastdate | time.Format "02 January 2006" }}</b>. 
      Candidates must meet the required eligibility criteria including <b>{{ .Params.qualification }}</b>. 
      As per the official notification, <b>{{ .Params.postdetails }}</b>. 
      Interested candidates are advised to check the important dates and ensure they apply before the last date. 
      For complete information, download the official notification and apply online using the links provided below.
    </p>
    <p><b>Notification :</b> {{ if .Params.Notification }} 
      <span style="text-align:center; color:#2563eb "> {{ .Params.Notification | default "N/A" }} </span>
         {{ with .Params.notificationdate }} </span>(Dated: {{ . | time.Format "02 January 2006" }}){{ end }}
        
    {{ end }}</p>
    </div>
    {{ partial "adsense.html" . }}
    <div class="card" tabindex="0">
    
    {{ if .Params.department }}
      <h2>{{ .Params.department }}</h2>
    {{ end }}
    {{ if .Params.recruitment }}
      <h1>{{ .Params.recruitment }}</h1>
    {{ end }}
  </div>
  <br>
  
  <div class="grid">
    {{ if .Params.important_dates }}
      <div class="card" tabindex="0">
        <h3>📅 महत्वपूर्ण तिथियां / Important Dates</h3>
        <ul><li>{{ .Params.important_dates | safeHTML }}</li></ul>
      </div>
    {{ end }}
  
    {{ if .Params.application_fee }}
      <div class="card" tabindex="0">
        <h3>💸 आवेदन शुल्क/ Application Fee</h3>
        <ul><li>{{ .Params.application_fee | safeHTML }}</li></ul>
      </div>
    {{ end }}
  </div>
  
  <div class="grid">
    <div class="card" tabindex="0">
      <h3>🔍 महत्वपूर्ण जानकारी / Important Information</h3>
      <ul>
        {{ with .Params.postName }}<li><strong>पद का नाम:</strong> {{ . | safeHTML }}</li>{{ end }}
        {{ with .Params.totalPost }}<li><strong>पदों की संख्या:</strong> {{ . | safeHTML }}</li>{{ end }}
        {{ with .Params.Qualification }}<li><strong>शैक्षणिक योग्यता:</strong> {{ . | safeHTML }}</li>{{ end }}
        {{ with .Params.ageLimit }}<li><strong>आयु सीमा:</strong> {{ . | safeHTML }}</li>{{ end }}
        {{ with .Params.selection }}<li><strong>चयन प्रक्रिया:</strong> {{ . | safeHTML }}</li>{{ end }}
        {{ with .Params.salary }}<li><strong>प्रारंभिक वेतन:</strong> {{ . | safeHTML }}</li>{{ end }}
      </ul>
      <p><strong>नोट:</strong> उपरोक्त विवरण संक्षिप्त है। पूरी जानकारी के लिए आधिकारिक विज्ञापन देखें।</p>
    </div>
  
    {{ if .Params.documents }}
      <div class="card" tabindex="0">
        <h3>📄Required Details/ Documents / दस्तावेज़</h3>
        <ul><li>{{ .Params.documents | safeHTML }}</li></ul>
        <p><strong>नोट:</strong> उपरोक्त दस्तावेज़ सामान्य जानकारी हेतु हैं, आवश्यकता अनुसार अन्य दस्तावेज़ भी माँगे जा सकते हैं।</p>
  
      </div>
    {{ end }}
  </div>
  
  {{ if .Params.Eligibility }}
  <div class="card" tabindex="0">
      <h3>🧾 पात्रता / Eligibility</h3>
      {{ .Params.Eligibility | safeHTML }}
   </div>
  {{ end }}
 
  <div class="content">
    {{ .Content }}
  {{ partial "farmate/parts/link-table.html" . }}
</div>
  
  {{ partial "imp-codes/imageBanner.html" . }}

  <div style="overflow-x:auto;">
  <table class="yp-table">
   <tr>
    <th>Highlight</th>
    <th>Short Details | <a href="/{{.Params.shorturl}}/"> #{{.Params.shorturl}}</a></th>
   </tr>
    {{ with .Params.postName }}
    <tr>
      <td><strong>📰Post Name </strong></td>
      <td><b style="color:green">{{ . | safeHTML }} </b></td>
    </tr>
    {{ end }}
    {{ with .Params.totalPost }}
    <tr>
      <td > <strong> 🔖Total Vacancy</strong></td>
      <td >{{ . | safeHTML }}</td>
    </tr>
    {{ end }}
    {{ with .Params.Domicile }}
    <tr>
      <td ><strong>📍Domicile </strong> </td>
      <td >{{ . | safeHTML }}</td>
    </tr>
    {{ end }}
    {{ with .Params.Qualification }}
    <tr>
      <td ><strong> 🎓Qualification </strong> </td>
      <td >{{ . | safeHTML }}</td>
    </tr>
    {{ end }}
      {{ with .Params.candidates}}
    <tr>
      <td><strong>🧑‍🎓Candidates </strong> </td>
      <td> <b>{{ . | safeHTML }} </b></td>
    </tr>
    {{ end }}
    {{ with .Params.ageLimit }}
    <tr>
      <td> <strong> 👨🏼‍🎓Age Limit</strong></td>
      <td>{{ . | safeHTML }}</td>
    </tr>
    {{ end }}
    {{ if .Params.lastdate}}
    <tr>
      <td><strong>📅Apply Date </strong> </td>
      <td> <b style="color:red">{{ .Params.begindate | time.Format "02 Jan" }} to {{ .Params.lastdate | time.Format "02 Jan 2006" }} </b></td>
    </tr>
    {{ end }}
  
    {{ with .Params.documents }}
    <tr>
      <td><strong>📄Documents</strong></td>
      <td>  {{ partial "imp-codes/cleanlist.html" . }} </td>
    </tr>
    {{ end }}
    {{ if .Params.OfficialSource }}
    <tr>
      <td><strong>🏬Department </strong></td>
      <td><a href="{{ .Params.OfficialSource | safeHTML }}"> {{ .Params.department }} </a></td>
    </tr>
    {{ end }}
  </table>
</div>
  {{ partial "imp-codes/random-list.html" . }}
  {{ partial "manual-update/button-group.html" . }}
  {{ partial "adsense.html" . }}
  {{ partial "imp-codes/keywords.html" . }}
  
    
