{{ partial "imp-codes/breadcrumb.html" . }}
<div class="yp-container">
  <div class="post-card">
    {{ if .Params.Department }}
       <h2 style="color:green;"> {{ .Params.Department }} </h2>
       {{ end }}
      <h2> {{ if .Params.SchemeName }}{{ .Params.SchemeName }}{{ end }}
         {{ if .Params.state }}{{ .Params.state }} {{ end }}    </h2>
        {{ if .Params.Whatis }}
        
        <details open class="faqs" >  <summary> 🔸<strong> {{ .Params.YojnaName }} की संक्षिप्त जानकारी (short details)</strong> </summary>
            {{ partial "farmate/parts/scheme/Whatis.html" . }}
        </details>
        
        {{ end }}

        {{ partial "imp-codes/video-iframe.html" . }}
      {{ if .Params.objective }}
      <div class="section">
          <h3>🔸{{ .Params.YojnaName }} का उद्देश्य (Objective)</h3>
         {{ partial "farmate/parts/scheme/objective.html" . }}
      </div>
      {{ end }}
      {{ partial "adsense.html" . }}
      {{ if .Params.eligibility }}
      <div class="section">
          <h3>🔸{{ .Params.YojnaName }} हेतु पात्रता (Eligibility)</h3>
           {{ partial "farmate/parts/scheme/eligibility.html" . }}
      </div>
      {{ end }}

      {{ if .Params.benefits }}
      <div class="section">
          <h3>🔸{{ .Params.YojnaName }} से लाभ (Benefits)</h3>
           {{ partial "farmate/parts/scheme/benefits.html" . }}
      </div>
      {{ end }}
      
      {{ if .Params.documents }}
      <div class="section">
          <h3>🔸{{ .Params.YojnaName }} के लिए आवश्यक दस्तावेज़ (Required Documents)</h3>
         {{ partial "farmate/parts/documents.html" . }}
      </div>
      {{ end }}

      {{ if or (.Params.apply_online) (.Params.apply_offline) (.Params.how_to) }}
      <div class="section">
          <h3>🔸 {{ .Params.YojnaName }} के लिए आवेदन प्रक्रिया (How to Apply)</h3>
       {{ partial "farmate/parts/scheme/how_to.html" . }}
      </div>
      {{ end }}
    
      {{ if .Params.impdates }}
      <div class="section">
          <h3>🔸{{ .Params.YojnaName }} महत्वपूर्ण तिथियाँ (Important Dates)</h3>
          {{ partial "farmate/parts/impdates.html" . }}
      </div>
      {{ end }}

  

     
      {{ if .Params.conclusion }}
      <div class="section">
          <h3>🔚{{ .Params.YojnaName }} का निष्कर्ष (Conclusion)</h3>
          {{ partial "farmate/parts/scheme/conclusion.html" . }}
      </div>
      {{ end }}
  
  
  {{ if .Params.faqs }}
  <div class="faqs">
    <b>🙋‍♀️ अक्सर पूछे जाने वाले प्रश्न - {{ .Params.YojnaName }}</b>
  <div class="faq">
  {{ partial "farmate/parts/faqs.html" . }}
    </div>
    {{ end }} 
</div>
  <div class="content">
    {{ .Content }}
</div>

  {{ partial "imp-codes/imageBanner.html" . }}
</div>
{{ if or .Params.objective .Params.eligibility .Params.benefits .Params.important_dates .Params.apply_online }}


{{ end }}
{{ if .Params.impnote }}


    <p class="notice">{{ .Params.impnote | safeHTML }}</p>

{{ end }}
</div>

{{ partial "imp-codes/random-list.html" . }}
{{ partial "manual-update/button-group.html" . }}
{{ partial "adsense.html" . }}
{{ partial "imp-codes/keywords.html" . }}