
<div class="post-grid">
    {{ $colors := slice "#FFD700" "#FF6347" "#7FFFD4" "#DDA0DD" "#90EE90" "#FFA07A" "#87CEFA" "#F0E68C" "#98FB98" "#FFC0CB" "#B0E0E6" "#D8BFD8" "#FFDAB9" "#AFEEEE" "#FFE4B5" "#ADD8E6" }}
    {{ range $index, $element := first 12 (where .Site.RegularPages ".Params.recommend" "yes") }}
      {{ $colorIndex := mod $index (len $colors) }}
      {{ $randColor := index $colors $colorIndex }}
      <a href="{{ $element.Permalink }}" class="post-link" target="_blank">
        <div
          class="post"
          style="background-color: {{ $randColor }};"
        >
          {{ $element.Params.RecommendName }}
        </div>
      </a>
    {{ end }}
  </div>
  
    
    